<mat-card class="text-center border-bottom rounded-0 pt-5 pb-5">
  <mat-card-header>
    <div mat-card-avatar style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;"></div>
    <mat-card-title>Your name</mat-card-title>
    <mat-card-subtitle class="opacity-50">your job here</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<nav class="nav flex-column">
  <a class="nav-link active" aria-current="page" href="#">Active</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled">Disabled</a>
</nav>
